@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Fredoka+One&family=Press+Start+2P&display=swap');

/* global styles */
body{
  background-image: url(./assets/tshimologong.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: cornflowerblue;

}
/* Navigation styles */
nav {
  background-color: cornflowerblue;
}
nav img.logo {
  width: 5%;
}
img.logo{
  margin: 0.1rem;
}

/* Interface styles */
section.wrapper{

  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
section.container{

  text-align: center;
  min-height: 5rem;
  margin: 2rem;
  width: 50%;
  padding: 1rem;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
section.operations{
  background-color: cornflowerblue;
  display: flex;
  margin: 2%;
  width: 10%;
  padding: 1%;
  justify-content: center;
  background: rgba(226, 5, 5, 0.25);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}
section.operations:hover{
  transform: scale(0.9,0.9);
}
.downloadLink{
  text-decoration: none;
  color: white;
}